@media (max-width: 1200px) {
  .promo {
    padding: 23px 0 94px 0;
    width: 100%;
    &__header {
      font-size: 39px;
    }
    &__subheader {
      font-size: 22px;
    }
  }
  .header {
    &__logo {
      width: 240px;
    }
    &__phone {
      font-size: 17px;
    }
  }
  .consultation {
    padding-left: 50px;
    }
  .title_left {
      font-size: 30px;
    }

  .carousel {
    &__inner {
      width: 720px;
    }
  .slick-prev, .slick-next {
    top: 45%;
    img {
      width: 29px;  
      height: 48px;
    }
  
    }
  }
  .reviews {
    &__img {
      width: 150px;
      height: 150px;
      margin-left: 25px;
      margin-top: 25px;
    }
    &__subtitle {
      font-size: 15px;
    }
    &__descr {
      font-size: 14px;
    }
  }
}

@media (max-width: 991px) {
  .header {
    &__logo {
      width: 200px;
      padding-left: 17px;
    }
    &__official {
      font-size: 11px;
      span {
        font-size: 16px;
      }
    }
    &__phone {
      font-size: 15px;
      padding-right: 15px;
    }
  }
  .promo {
    width: 100%;
    background-position: 40%;
    &__wrapper {
      margin-right: 16px;
    }
    &__header {
      font-size: 32px;
    }
    &__subheader {
      font-size: 18px;
    }
    &__icons {
      width: 350px;
      margin-right: 17px;
    }
  }

  .button {
    width: 150px;
    margin-right: 13px;
    &_main {
      width: 220px;
      font-size: 13px;
      margin-right: 0;
    }
  }
  .require {
    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }
    &__item {
      margin-top: 25px;
      max-width: 300px;
    }
    &__subtitle {
      margin-top: 10px;
      font-size: 20px;
    }
    &__descr {
      font-size: 17px;
      margin-top: 7px;
    }
  }
  .title_left {
    font-size: 28px;
  }
    
  .button_submit {
    width: 302px;
  }
  .carousel {
    &__inner {
      padding: 60px 0;
      img {
        width: 60%;
        margin: 0 auto;
      }
    }
  }

  .catalog {
    &__tab {
      width: 200px;
    }
    &__content {
      justify-content: space-around;
    }
    &-item {
      width: 290px;
      &__price {
        font-size: 17px;
    }
    }
  }
  .footer {
    &__info {
      width: 400px;
      height: 250px;
      padding: 40px 45px 52px 45px;
    }
  }
}
@media (max-width: 767px) {
  .header {
    &__logo {
      width: 170px;
    }
    &__official {
      span {
        font-size: 14px;
      }
    }
  }
  .title_left {
    font-size: 22px;
    line-height: 40px;
  }
  .consultation {
    padding: 60px 0 108px 45px;
  }
  .carousel {
    &__inner {
      padding: 60px 0;
      width: 500px;
      img {
        
        width: 90%;
        
      }
    }
  }
  .catalog {
    &__tab {
      width: 150px;
      font-size: 15px;
    }
  }
  .footer {
    &__info {
      width: 350px;
      height: 200px;
      padding: 35px 40px 45px 35px;
    }
    &__adr {
      margin-bottom: 30px;
      font-size: 17px;
      
    }
    &__phone {
      margin-bottom: 30px;
    }
    &__social-item {
      width: 45px;
      height: 45px;
      img {
        width: 25px;
      }
    }
  }
  .modal {
    width: 360px;
    padding: 30px 20px 20px 20px;
    &__close {
      right: -30px;
    }
  }
  
}

@media (max-width: 575px) {
  .header {
    &__official {
      display: none;
    }
    &__logo {
      width: 150px;
      padding-left: 20px;
    }
    &__phone {
      font-size: 13px;
    }
  }
  .button {
    width: 130px;
    &_main {
      width: 170px;
      height: 40px;
      font-size: 11px;
    }
  }
  .promo {
    padding: 18px 0 90px 0;
    &__header {
      font-size: 29px;
      text-align: center;
    }
    &__subheader {
      font-size: 16px;
      text-align: center;
    }
    &__icons {
      display: none;
    }
  }
  .require {
    padding: 50px 0 80px 0;

    &__subtitle {
      font-size: 19px;
    }
    &__descr {
      font-size: 14px;
    }
  }
  .title {
    font-size: 20px;
  }
  .consultation {
    padding: 50px 0 108px 15px;
    &__descr {
      font-size: 15px;
      text-align: center;
    }
  
  }
  .feed-form {
    margin: 30px auto;
    width: 220px;
    
    
  }
  .title_left {
    font-size: 15px;
    text-align: center;
    br {
      display: none;
    }
  }
  .button_submit {
    width: 220px;
    height: 50px;
  }
  .carousel {
    &__inner {
      padding: 60px 0;
      width: 300px;
      img {
        
        width: 90%;
        
      }
    }
  }
  .catalog {
    &__tab {
      width: 80px;
      font-size: 8px;
    }
    &-item{
     width: 280px;
    }
  }
  .reviews {
    &__item {
      flex-direction: column;
      margin-top: 60px;
      
    }
  
    &__img {
      
      display: block;
      margin: 0 auto;
      width: 150px;
      height: 150px;
      
      
    }
    &__text {
      text-align: center;
      margin: 20px 5px 0 5px;
      padding: 0 5px 0 5px;
     
    }

  }
  .footer {
    &__info {
      width: 300px;
      height: 150px;
      padding: 20px 30px 30px 20px;
    }
    &__adr {
      margin-bottom: 20px;
      font-size: 15px;
    }
    &__phone {
      margin-bottom: 20px;
      font-size: 17px;
    }
    &__social-item {
      width: 40px;
      height: 40px;
      img {
        width: 20px; 
      }
    }
  }
  .modal {
    width: 250px;
    &__close {
      right: -25px;

    }
  }
}
